<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @peca.nome %>
</p>

<p>
  <b>Descrição:</b>
  <%= @peca.descricao %>
</p>

<p>
  <b>Fabricante:</b>
  <%= @peca.fabricante %>
</p>

<p>
  <b>Valor unitario:</b>
  <%= @peca.valor %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @peca.quantidade %>
</p>


<%= link_to 'Edit', edit_peca_path(@peca) %> |
<%= link_to 'Back', pecas_path %>
