= semantic_form_for [@mecanico] do |form|
 
  = form.input :matricula, :label => 'Matricula' 
  = form.input :nome, :label => 'Nome'
  = form.input :funcao, :member_label => :nome, :label => 'Função' 
  = form.submit 'Salvar'
